In [2]:
import pandas as pd
df = pd.read_csv('data.csv', delimiter = '	')

df.to_csv('aData.csv', index=False)
df2 = pd.read_csv('aData.csv')

display(df2.head(5))
display(df.head(10))
myColumns = list(df.columns)
print(myColumns)

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology
5,1,18,6116,1,28,3193,2,2,12542,1,...,2,1,1,4,1,70,2,1,4,NaN
6,1,20,4325,1,34,4009,2,38,3604,3,...,2,1,1,7,2,60,2,1,4,Mechatronics engeenerieng
7,1,34,4796,1,9,2618,1,39,5823,1,...,2,1,1,2,2,60,1,1,2,Music
8,4,4,3470,4,14,2139,3,1,11043,4,...,1,1,1,12,2,70,2,1,4,Psychology
9,3,38,5187,2,28,2600,4,9,2015,1,...,2,1,1,2,2,60,2,1,3,computer programming

['Q1A', 'Q1I', 'Q1E', 'Q2A', 'Q2I', 'Q2E', 'Q3A', 'Q3I', 'Q3E', 'Q4A', 'Q4I', 'Q4E', 'Q5A', 'Q5I', 'Q5E', 'Q6A', 'Q6I', 'Q6E', 'Q7A', 'Q7I', 'Q7E', 'Q8A', 'Q8I', 'Q8E', 'Q9A', 'Q9I', 'Q9E', 'Q10A', 'Q10I', 'Q10E', 'Q11A', 'Q11I', 'Q11E', 'Q12A', 'Q12I', 'Q12E', 'Q13A', 'Q13I', 'Q13E', 'Q14A', 'Q14I', 'Q14E', 'Q15A', 'Q15I', 'Q15E', 'Q16A', 'Q16I', 'Q16E', 'Q17A', 'Q17I', 'Q17E', 'Q18A', 'Q18I', 'Q18E', 'Q19A', 'Q19I', 'Q19E', 'Q20A', 'Q20I', 'Q20E', 'Q21A', 'Q21I', 'Q21E', 'Q22A', 'Q22I', 'Q22E', 'Q23A', 'Q23I', 'Q23E', 'Q24A', 'Q24I', 'Q24E', 'Q25A', 'Q25I', 'Q25E', 'Q26A', 'Q26I', 'Q26E', 'Q27A', 'Q27I', 'Q27E', 'Q28A', 'Q28I', 'Q28E', 'Q29A', 'Q29I', 'Q29E', 'Q30A', 'Q30I', 'Q30E', 'Q31A', 'Q31I', 'Q31E', 'Q32A', 'Q32I', 'Q32E', 'Q33A', 'Q33I', 'Q33E', 'Q34A', 'Q34I', 'Q34E', 'Q35A', 'Q35I', 'Q35E', 'Q36A', 'Q36I', 'Q36E', 'Q37A', 'Q37I', 'Q37E', 'Q38A', 'Q38I', 'Q38E', 'Q39A', 'Q39I', 'Q39E', 'Q40A', 'Q40I', 'Q40E', 'Q41A', 'Q41I', 'Q41E', 'Q42A', 'Q42I', 'Q42E', 'country', 'source', 'introelapse', 'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4', 'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1', 'VCL2', 'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10', 'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education', 'urban', 'gender', 'engnat', 'age', 'screensize', 'uniquenetworklocation', 'hand', 'religion', 'orientation', 'race', 'voted', 'married', 'familysize', 'major']

In [3]:
for i in myColumns:
    print(i, ': ', df[i].unique())

Q1A :  [4 3 2 1]
Q1I :  [28  2  7 23 36 18 20 34  4 38 37 35 10 17 15  5  8  1 41 14 12  9 25 27
 39 11 42 21  3 40 32 22 24 16  6 33 19 13 30 29 26 31]
Q1E :  [ 3890  8118  5784 ... 14275 28897 32251]
Q2A :  [4 1 3 2]
Q2I :  [25 36 33 11 13 28 34  9 14 16 35 24 20  1 18  3 27  4 38  6 39 10 22 26
 42 17 15  8 19 40 29 21 41  5  7 32 37 31 30  2 12 23]
Q2E :  [ 2122  2890  4373 ... 16945  6056  4555]
Q3A :  [2 4 3 1]
Q3I :  [16 35 41 37  5  2 38 39  1  9 28 18 30 26 22 11 25 20 31 21  8 15  7 13
 40 10 34 17  3 14 36 12 32  6 24 29 27 23 42 19  4 33]
Q3E :  [ 1944  4777  3242 ...  7216 10521 11734]
Q4A :  [4 3 1 2]
Q4I :  [ 8 28 13 27 10 40 12 20  7 34 15 35  3 16  2 42 32 17  5 21 38 18 11 37
 14  1 31 19 26 39 24 36 30 41  4 22  6  9 23 29 33 25]
Q4E :  [ 2044  3090  6470 ...  9142 12680 16706]
Q5A :  [4 3 1 2]
Q5I :  [34 10 11 28  2 40 22  4  3 41 23 17 12 38 35  6 15 29  7  9 42  8 39 20
 27 33 32 24 25 21 18 31 19  1  5 36 30 26 14 16 13 37]
Q5E :  [ 2153  5078  3927 ... 12253  1149 22510]
Q6A :  [4 3 2 1]
Q6I :  [33 40  9 26  4 42 31  7 22 23 20  6 16  3 24 37  1 21  5 39 32 36 17  2
 11 30 38 35 29  8 27 15 10 25 12 18 14 34 13 41 28 19]
Q6E :  [ 2416  2790  3704 ...   499  5162 33800]
Q7A :  [4 3 1 2]
Q7I :  [10 18 17  2 34 33  6 24 21 29 30  8 40 11  5 12 13 39 41 27 28 25 42  4
  3 20 31 32 19 36  7 35 23 37 14  9 22 15 38 26 16  1]
Q7E :  [ 2818  3408  4550 ... 10510   206  7917]
Q8A :  [4 3 2 1]
Q8I :  [13  1  5 19 11  7 31 33 29 12 15 27 21  4 40 32 36 18 41 28  9 37 22 24
  8 23 14 34 17 25 10 35 42 16 30  6 20  3  2 26 39 38]
Q8E :  [2259 8342 3021 ... 8218  386 7583]
Q9A :  [2 3 4 1]
Q9I :  [21 37 32 31  7 14 39 15 26  6  9  5 41 35 12  8  1  3 16 22 29 24  4 11
 38 18 20 36 19 33 13 34 25 30 40  2 17 28 42 10 23 27]
Q9E :  [ 5541   916  5864 ... 27861 67815 10455]
Q10A :  [1 2 4 3]
Q10I :  [38 32 21 17 14 20 35  5 12 24 39 22 18 13  4 19 26 25  1  8 41 37 28  6
 29 36 40 10 23 16  3 31  2 34  9 27 11  7 15 33 42 30]
Q10E :  [ 4441  1537  3722 ...  9277  9223 11365]
Q11A :  [4 2 1 3]
Q11I :  [31 21 10  5 33 34 28 16  4 11  3  2 20  6 15  1 39 36 12 13 35 38 29  9
 19  7 23 30 41  8 26 22 42 24 27 37 25 17 32 40 18 14]
Q11E :  [ 2451  3926  3424 ...  6846 17637  9493]
Q12A :  [4 2 1 3]
Q12I :  [24 25 36 21 23 41 40 11 35  2 28  7 29  6 22 26 19 37 10 30 20 31 17  1
  9 13 42  4 33 12 39  8 34 32 14 18  3  5 16 27 38 15]
Q12E :  [3325 3691 3236 ... 7713 7154 8218]
Q13A :  [4 1 2 3]
Q13I :  [14 26 23 20 17 41  5 27 35 33 37 16 10 39 24 25 11 29 12 28 30 21 22 19
  2 18 32  6  1  9 34 40 36  7  8 42 31 13 15  4 38  3]
Q13E :  [ 1416  2004  2489 ...  8438  6909 20061]
Q14A :  [4 1 3 2]
Q14I :  [37  4 34 29 16  1 19 11 30 13 10  2 31 38 39 33 35 15  8 20  7 28 14 36
 42 25 23 17 21 32 18  6 22 41 12 24 26 27  3  9 40  5]
Q14E :  [ 5021  8888  7290 ...   228 16271 52923]
Q15A :  [4 3 2 1]
Q15I :  [27 12 22 26  9 13 30 32 31  6 14 41  4 16 23  2 21  3 37 24 17 29 25 40
 20 33 42 15  5 11 28 39 38  1 10 34  8  7 35 18 19 36]
Q15E :  [ 2342  4109  6587 ...  8405  7356 12202]
Q16A :  [4 3 2 1]
Q16I :  [39 19 22 35 37 10  7  6 32 27 11 33  1  5 42 18 14 28  9 30 25 41  4 36
 38 29 21 16 40 12  8 34 15 24  3 26 20 13 23 31  2 17]
Q16E :  [  2480   4058   3627 ...  10789  31285 171320]
Q17A :  [3 4 2 1]
Q17I :  [ 6 12 38 10 35 25 37 42  2  3 17  4 27  8 28  7  9 24 21 34  5  1 14 11
 33 22 26 40 41 20 13 39 19 32 18 16 31 29 15 23 36 30]
Q17E :  [ 2476  3692  2905 ... 16752  5907  4172]
Q18A :  [4 2 1 3]
Q18I :  [35  6 18 14 38 15  2 25 40  8  7  4 17 13 36 34 22 27  3 26 42 41 24  5
  1 23 39 10 16 31 30 20 32 28 33 21 19 29 37 11  9 12]
Q18E :  [1627 3373 2998 ... 6759 5174 9398]
Q19A :  [3 1 2 4]
Q19I :  [17 23  8 25 37  3 28 16 30 41 13 31 24 36  5  7 33 15  2 32 35 12 20 19
  1 18  4  9  6 21 11 14 38 22 10 42 29 34 39 26 40 27]
Q19E :  [ 9050  6015 10233 ...  9888  6757 19839]
Q20A :  [3 1 2 4]
Q20I :  [30 16 15 36  7  1 42 39 13  6 23 20 19 11 35 27 22  4 31 10 12 28 25 29
 41 24  9 21 14  2 34 33 38  8  3 37 17 32  5 40 18 26]
Q20E :  [ 7001  3023  4258 ...  6294 33950   182]
Q21A :  [1 2 4 3]
Q21I :  [11 22 28  6 32 39 15 26 13 30 24 33 38 37 14 34 16  3 31 41  8 29 17 42
 12 10  7 23 18 25 40  4 27 19  2 20  1 35  5  9 21 36]
Q21E :  [ 4719  2670  2888 ...  7924 14973  9267]
Q22A :  [4 3 1 2]
Q22I :  [20  3  4 40 18 16 30 36 39 17 22 23 25 26  2 13 10 33 15 21 37  6  8 34
 29 28  7 31 27 38 11 12 32 42 35 14 19 41  5  9 24  1]
Q22E :  [ 2984  5727 59592 ...  7855   279 34632]
Q23A :  [4 1 2 3]
Q23I :  [36 39  3 12  4 27 14 25 19  5 15 13  7 10 23 26  2 40 37 38 24 17  6 32
  9 30  1 11 42 31 28 29 21 20 16 18 34 35  8 33 22 41]
Q23E :  [ 1313  3641 11732 ... 28313   526 10199]
Q24A :  [4 2 1 3]
Q24I :  [42 33  2  9 40 12 29 19 36 14 13 41  5 18 15  1 23  3  4 10  8 35 16  6
 39 38 34 24 27 32 37 17 26 30 28  7 25 21 20 22 31 11]
Q24E :  [ 2444  2670  8834 ...  1744 11280 40402]
Q25A :  [4 2 1 3]
Q25I :  [ 1  7 29 18 31 17 14 12  2 25  9 39 41 19 37 42 30  3 16 23 13 40 24 15
 26 11  6 33  8 35  5 27 10 38 22 34 20 32 28 36  4 21]
Q25E :  [ 9880  7649  7358 ...  9348 11244 22293]
Q26A :  [4 3 1 2]
Q26I :  [ 2 11 30 24 42  3 27 41 15 10 40 38 18  9 35 20 29 37 19 28 32 23 34  8
 36 31 22  1 12 26 16 17 13  7 33 14 39 21  4  6 25  5]
Q26E :  [4695 2537 4928 ...  383 7022 1018]
Q27A :  [4 3 2 1]
Q27I :  [ 5 15  4  1 35  8 20 22 26 42 34 11 40 32 28  7  9 12  6 24 33 21 16 36
 19 27 18 30 38 13 29  3 25 23 37 41 14 17 10 31 39  2]
Q27E :  [ 1677  2907  3036 ...   534 11997 42152]
Q28A :  [3 4 1 2]
Q28I :  [ 4  9 19 16  3 42 36 35 37 13 12 31 14 10 29  7 24 11 27 18 20 26  1 23
 39 30  5 38 21 28 15 41 22  6 40 25 32 34 33  8 17  2]
Q28E :  [ 6723  1685  4127 ... 51607 20788  8333]
Q29A :  [4 3 2 1]
Q29I :  [ 3 41 37  1 22 17 28  8 42 20 38 25 34 29 36 26 14 16  6 18 39  9  7 19
 15 32 33 13  2 27 11 24 40  4 30 21  5 35 10 31 23 12]
Q29E :  [ 5953  4726  3934 ... 10774 11805 24545]
Q30A :  [2 3 4 1]
Q30I :  [26 17 32 39  5  4 13 24 37 36 22  9 28 29 30 12 25 35 16 18 42  7  8 11
 21 23 40  1 10 41 19 31 20 27  6  3 15 34 33  2 14 38]
Q30E :  [ 8062  6063 10782 ... 24667  7682 14627]
Q31A :  [4 2 3 1]
Q31I :  [12 20  1 34 27 32 22 40 19  7 39 31  2  4  9 24 38 42 14 37  5 29 36 30
 18 13 11 23 41 16 17 15  6 21 35 25 33  8 26 10 28  3]
Q31E :  [ 5560  3307  8273 ...  7444  8126 19343]
Q32A :  [4 3 1 2]
Q32I :  [ 7 14 39 41 20 30 16 37  9  6 35 12 19 33 36 40 32  4  5 21 31  2 26  3
 18 17 24 38 29 23 27 34 22 13 25 28 15 42 11  1 10  8]
Q32E :  [ 3032  4995  3501 ... 33284  8181 10043]
Q33A :  [2 3 1 4]
Q33I :  [29 38 27  8  6 23 21 25 22 40 20 32 39 30 36 16 31 14 10 15 18  2 28 33
  4 34 24  9 11 26  1  7  3 37 19 35 17  5 41 12 42 13]
Q33E :  [ 3316  2505  3824 ...  9746 12407   189]
Q34A :  [3 2 4 1]
Q34I :  [40 34 25  3 29  9 32 27 15 33 31 10 30 26  7 24 18  6 21  2 22  1 14 37
 41 35 11 38  5 16  4  8 28 36 42 12 19 17 23 13 20 39]
Q34E :  [ 3563  2540  2141 ...   841 60168  9307]
Q35A :  [4 2 3 1]
Q35I :  [23 31  6  7 24 10 18 29 36 26 30  8 20 34 16 35 15 14 38 22 37 41 40 27
 19 28 33 42  4  9 12  5  2 21 25 17  3 13 32  1 11 39]
Q35E :  [ 5594  4359 17461 ... 23056  8563 26642]
Q36A :  [4 3 1 2]
Q36I :  [41 15 24  8 30 38 21 23 10 39  4  3 37 42  2 40 35  9 20 17 33 13 25 27
 36  6 14 34 22 26 16 19 18  5 28 12 31  1 11 32 29  7]
Q36E :  [ 1477  3925  1557 ...  5638 27589 23022]
Q37A :  [1 4 2 3]
Q37I :  [18 13 40 39 29 24 11 16 26 23 15 32 31 25 19  1 28  6 12 38 27 33 14  3
  2  8  9 37  5  4  7 21 35 30 42 17 36 41 22 34 20 10]
Q37E :  [ 3885  4609  4446 ...  9212   651 15366]
Q38A :  [2 4 1 3]
Q38I :  [ 9 30 42 13 21 24  3  5 19  1 15 27  4  7 10 17 41 36 12 23 16 33 22 35
 39 26 38 29 37 20 40 28 31 32 25 34 11  6  8  2 18 14]
Q38E :  [5265 3755 1883 ... 6382  271  566]
Q39A :  [4 2 3 1]
Q39I :  [19 42 35 41 26 33  6 27 21  1 18  3 32 38 34 12  2 13 11 40  5 37 15 17
 28 10 23 16  9 24 20 30  7 25 22  8 29 36 14 31  4 39]
Q39E :  [ 1892  2323  5790 ...  5558 32977 19868]
Q40A :  [3 1 2 4]
Q40I :  [22 24 14 33 12  2 41 18  9 34 40 35 30 29 42 32 11 20  1 10 16  3  8 39
 15  7 31 26 28 27 21 25 17  4 23 13 37 38 36  5  6 19]
Q40E :  [ 4228  5713  4432 ...   218  8850 12200]
Q41A :  [4 2 1 3]
Q41I :  [32  8 20 30 28 11 25 17 34 19 21  7 16 37 33 22 23 41  5 10 27 26 14 40
  1 36 42 13 39 38 24  2 35  6  4 29  9 15  3 18 12 31]
Q41E :  [ 1574  1334  2203 ... 10221  4261  5300]
Q42A :  [4 2 3 1]
Q42I :  [15 29 31 36  6 19 26 18 34  1 27 37  8 12 42  2 30 40 14 39 13 35 23 10
 21  3  9 24 20 16 32 11  7 41  5 17 25 38 33  4 22 28]
Q42E :  [ 2969  5562  5768 ...   840 10528 13954]
country :  ['IN' 'US' 'PL' 'MY' 'MX' 'GB' 'DE' 'EE' 'CA' 'EC' 'AU' 'FI' 'ID' 'AE'
 'NONE' 'ES' 'NI' 'DO' 'TR' 'NO' 'GR' 'LK' 'BR' 'AR' 'KH' 'IT' 'MK' 'PT'
 'BA' 'RU' 'HU' 'KR' 'IE' 'RS' 'CZ' 'PH' 'RO' 'FR' 'SG' 'AT' 'UA' 'KW'
 'CO' 'GE' 'SE' 'HK' 'NZ' 'ZA' 'NL' 'DK' 'JM' 'LB' 'CL' 'AW' 'IL' 'GT'
 'PE' 'PK' 'NP' 'HR' 'CR' 'VE' 'BG' 'GH' 'MA' 'PR' 'SI' 'LV' 'AL' 'VN'
 'GU' 'BD' 'TH' 'NG' 'FO' 'UY' 'EG' 'BE' 'SA' 'SV' 'CH' 'PY' 'SK' 'SY'
 'TN' 'TT' 'SR' 'KE' 'BY' 'PA' 'CY' 'BW' 'MZ' 'BB' 'GG' 'CW' 'IS' 'IR'
 'BN' 'MV' 'OM' 'DZ' 'JP' 'MU' nan 'IQ' 'BO' 'MD' 'CN' 'LT' 'BZ' 'BH' 'ME'
 'QA' 'TW' 'PS' 'JO' 'SD' 'KY' 'AZ' 'AO' 'BS' 'GY' 'MO' 'TZ' 'IM' 'AF'
 'AM' 'UZ' 'LU' 'ET' 'JE' 'VU' 'TJ' 'KZ' 'XK' 'HN' 'ZW' 'LA' 'MT' 'SN'
 'MN' 'TG' 'SC' 'RE' 'VC']
source :  [2 0 1]
introelapse :  [   19     1     5 ...  4518 44036  3264]
testelapse :  [  167   193   271 ...  1155 11125 44029]
surveyelapse :  [   166    186    122 ... 132184  10899  43852]
TIPI1 :  [1 6 2 7 5 3 4 0]
TIPI2 :  [5 1 6 4 7 3 2 0]
TIPI3 :  [7 4 2 3 6 5 1 0]
TIPI4 :  [7 2 4 6 1 5 0 3]
TIPI5 :  [7 5 6 3 2 1 4 0]
TIPI6 :  [7 4 6 5 2 1 3 0]
TIPI7 :  [7 5 6 1 4 3 2 0]
TIPI8 :  [5 7 1 6 2 3 4 0]
TIPI9 :  [1 3 6 5 2 7 4 0]
TIPI10 :  [1 5 2 3 7 4 6 0]
VCL1 :  [1 0]
VCL2 :  [0 1]
VCL3 :  [0 1]
VCL4 :  [1 0]
VCL5 :  [1 0]
VCL6 :  [0 1]
VCL7 :  [1 0]
VCL8 :  [0 1]
VCL9 :  [0 1]
VCL10 :  [1 0]
VCL11 :  [0 1]
VCL12 :  [0 1]
VCL13 :  [0 1]
VCL14 :  [1 0]
VCL15 :  [1 0]
VCL16 :  [1 0]
education :  [2 1 3 4 0]
urban :  [3 2 1 0]
gender :  [2 1 3 0]
engnat :  [2 1 0]
age :  [  16   17   13   19   20   29   18   15   31   34   22   42   21   23
   26   43   35   25   24   61   40   27   28   60   14   37   46   57
   41   55   36   30   32   56   71   67   44   38   49   45   47   33
   54   53   50   48   58   68   39   51   62   59   52   77   85   63
   69   65   75   72   70   73   64   66   79   80   78  223 1996   89
  117   82   74 1998   76  115 1993 1991   99]
screensize :  [1 2]
uniquenetworklocation :  [1 2]
hand :  [1 2 3 0]
religion :  [12  7  4 10  2  6  1  8  3  0  5 11  9]
orientation :  [1 0 3 5 2 4]
race :  [10 70 60 50 30 40 20]
voted :  [2 1 0]
married :  [1 3 2 0]
familysize :  [  2   4   3   5   1   6   8  12   7   0  11   9  13  10  62  16  14  99
  17  54  65  15  26  24  19  21  23 133]
major :  [nan 'biology' 'Psychology' ... '&#22810;&#23186;&#39636;&#35373;&#35336;'
 'public relation or administrations' 'computer sciece']

In [5]:
df = pd.read_csv('data.csv', delimiter = '	')
df2 = df[['Q1A', 'Q2A', 'Q3A', 'Q4A', 'Q5A', 'Q6A']]
display(df2.head(5))
df2.to_csv('sampleData.csv', index=False)
# df2 = pd.read_csv('aData.csv')

   Q1A  Q2A  Q3A  Q4A  Q5A  Q6A
0    4    4    2    4    4    4
1    4    1    2    3    4    4
2    3    1    4    1    4    3
3    2    3    2    1    3    3
4    2    2    3    4    4    2

In [8]:
df_base = df[['Q1A', 'Q2A', 'Q3A', 'Q4A', 'Q5A', 'Q6A', 'Q7A', 'Q8A', 'Q9A', 'Q10A', 'Q11A', 'Q12A', 'Q13A', 'Q14A', 'Q15A', 'Q16A', 'Q17A', 'Q18A', 'Q19A', 'Q20A', 'Q21A', 'Q22A', 'Q23A', 'Q24A', 'Q25A', 'Q26A', 'Q27A', 'Q28A', 'Q29A', 'Q30A', 'Q31A', 'Q32A', 'Q33A', 'Q34A', 'Q35A', 'Q36A', 'Q37A', 'Q38A', 'Q39A', 'Q40A', 'Q41A', 'Q42A']]
df_base.to_csv('baseData.csv', index=False)
df = pd.read_csv('data.csv', delimiter = '	')
df.to_csv('rawData.csv', ind)
display(df_base)

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q33A,Q34A,Q35A,Q36A,Q37A,Q38A,Q39A,Q40A,Q41A,Q42A
0,4,4,2,4,4,4,4,4,2,1,...,2,3,4,4,1,2,4,3,4,4
1,4,1,2,3,4,4,3,4,3,2,...,3,2,2,3,4,2,2,1,2,2
2,3,1,4,1,4,3,1,3,2,4,...,1,4,3,4,4,4,2,2,1,4
3,2,3,2,1,3,3,4,2,3,3,...,2,4,1,1,2,1,3,4,4,2
4,2,2,3,4,4,2,4,4,4,3,...,4,4,3,4,3,3,3,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,1,3,2,3,2,1,3,1,4,...,2,4,1,2,4,4,2,3,1,3
39771,3,4,3,4,3,4,4,4,3,4,...,3,4,3,3,3,4,3,3,3,4
39772,2,1,2,1,1,1,1,1,2,1,...,2,1,1,1,1,1,2,1,1,1
39773,3,1,2,2,3,3,3,4,3,1,...,4,2,3,2,1,2,3,2,4,3
39774,2,1,2,1,4,2,1,1,1,1,...,2,3,2,2,2,4,3,3,1,4