In [3]:
#adding a comment for github testing
import pandas as pd
directory = 'C:\\Users\\zoebe\\PycharmProjects\\DUAssignments\\Stats_2\\Stats2\\DASS_data_21.02.19\\'
very_sad = pd.read_csv(f'{directory}data.csv', delimiter='	')
display(very_sad.head())

"""IRT (Item Response Theory) 
Clustering: LCA
Decision Tree?
Hierarchical Linear Models
"""

print(very_sad.columns.unique().tolist())

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology

['Q1A', 'Q1I', 'Q1E', 'Q2A', 'Q2I', 'Q2E', 'Q3A', 'Q3I', 'Q3E', 'Q4A', 'Q4I', 'Q4E', 'Q5A', 'Q5I', 'Q5E', 'Q6A', 'Q6I', 'Q6E', 'Q7A', 'Q7I', 'Q7E', 'Q8A', 'Q8I', 'Q8E', 'Q9A', 'Q9I', 'Q9E', 'Q10A', 'Q10I', 'Q10E', 'Q11A', 'Q11I', 'Q11E', 'Q12A', 'Q12I', 'Q12E', 'Q13A', 'Q13I', 'Q13E', 'Q14A', 'Q14I', 'Q14E', 'Q15A', 'Q15I', 'Q15E', 'Q16A', 'Q16I', 'Q16E', 'Q17A', 'Q17I', 'Q17E', 'Q18A', 'Q18I', 'Q18E', 'Q19A', 'Q19I', 'Q19E', 'Q20A', 'Q20I', 'Q20E', 'Q21A', 'Q21I', 'Q21E', 'Q22A', 'Q22I', 'Q22E', 'Q23A', 'Q23I', 'Q23E', 'Q24A', 'Q24I', 'Q24E', 'Q25A', 'Q25I', 'Q25E', 'Q26A', 'Q26I', 'Q26E', 'Q27A', 'Q27I', 'Q27E', 'Q28A', 'Q28I', 'Q28E', 'Q29A', 'Q29I', 'Q29E', 'Q30A', 'Q30I', 'Q30E', 'Q31A', 'Q31I', 'Q31E', 'Q32A', 'Q32I', 'Q32E', 'Q33A', 'Q33I', 'Q33E', 'Q34A', 'Q34I', 'Q34E', 'Q35A', 'Q35I', 'Q35E', 'Q36A', 'Q36I', 'Q36E', 'Q37A', 'Q37I', 'Q37E', 'Q38A', 'Q38I', 'Q38E', 'Q39A', 'Q39I', 'Q39E', 'Q40A', 'Q40I', 'Q40E', 'Q41A', 'Q41I', 'Q41E', 'Q42A', 'Q42I', 'Q42E', 'country', 'source', 'introelapse', 'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4', 'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1', 'VCL2', 'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10', 'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education', 'urban', 'gender', 'engnat', 'age', 'screensize', 'uniquenetworklocation', 'hand', 'religion', 'orientation', 'race', 'voted', 'married', 'familysize', 'major']

In [8]:
numq = 42
df = very_sad[[f'Q{i}A' for i in range(1, numq+1)] + ['gender']]
display(df)

df.to_csv(f'q1Throughq{numq}andGender.csv')

numq = 6

df2 = very_sad[[f'Q{i}A' for i in range(1, numq+1)] + ['gender']]
df2.to_csv(f'q1Throughq{numq}andGender.csv')

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q34A,Q35A,Q36A,Q37A,Q38A,Q39A,Q40A,Q41A,Q42A,gender
0,4,4,2,4,4,4,4,4,2,1,...,3,4,4,1,2,4,3,4,4,2
1,4,1,2,3,4,4,3,4,3,2,...,2,2,3,4,2,2,1,2,2,2
2,3,1,4,1,4,3,1,3,2,4,...,4,3,4,4,4,2,2,1,4,2
3,2,3,2,1,3,3,4,2,3,3,...,4,1,1,2,1,3,4,4,2,2
4,2,2,3,4,4,2,4,4,4,3,...,4,3,4,3,3,3,4,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,1,3,2,3,2,1,3,1,4,...,4,1,2,4,4,2,3,1,3,1
39771,3,4,3,4,3,4,4,4,3,4,...,4,3,3,3,4,3,3,3,4,1
39772,2,1,2,1,1,1,1,1,2,1,...,1,1,1,1,1,2,1,1,1,2
39773,3,1,2,2,3,3,3,4,3,1,...,2,3,2,1,2,3,2,4,3,2
39774,2,1,2,1,4,2,1,1,1,1,...,3,2,2,2,4,3,3,1,4,2